<h1>Students</h1>

<% @student.each do |student|  %>
  <tr>
   <td><br/>
      <%= image_tag gravitar_url(student), :size => "100x100" %><br/>
      Name: <%= student.name %><br/>
      Nickname: <%= student.nickname %><br/>
      Email: <%= student.email %><br/>
       <%= link_to 'Edit', edit_student_path(student) %>
       <%= link_to 'Delete Student', student_path(student),
  method: :delete, data: { confirm: 'Are you sure?' } %><br/></td>
  </tr>
  
  
<% end %>
