<h1>Teacher Overview</h1>
<table>
  <tr>
    <th><%= link_to 'Back to Bueller Home', bueller_index_path %><br/>
        <%= link_to 'Back to CSC Projects Home', welcome_index_path %><p><p/></th>
    <th></th>
    <th></th>
  </tr>
 
<% @teacher.each do |student| %>
  <tr><%= image_tag gravitar_url(student), :size => "48x48" %><br/>
    <%= 'Name: '+student.Name %><br/>
       <%= 'Nickname: '+student.Nickname %><br/>
    <%= 'Email: '+student.Email %><br/><p></p>
  </tr>
<% end %>
</table>