<h1>Teacher Overview</h1>
<table>
  <tr>
    <th><%= link_to 'View Attendances', attendances_path%><br/><%= link_to 'Back to Bueller Home', bueller_index_path %><br/>
      <%= link_to 'Back to CSC Projects Home', welcome_index_path %><br/><p><p/></th>
    <th></th>
    <th></th>
  </tr>
<table/>

<h2></h2>
  <%= form_tag teachers_path, :method => 'get' do %>
    <p>
      <%= date_field_tag(:date, @date) %>
      <%= submit_tag 'search' %>
    </p>
<% end %>
  
<% if params[:attended_on] == nil %>
  <% @date = Date.today %>
<% else %>
  <% @date = params[:attended_on] %>
<% end %>


<h2> Students Present Today</h2>
<table>
  <tr>
    <td>
      <% Student.in_seat(1, @date).each do |s1| %>
        <%= s1.name %>
        <%= image_tag gravitar_url(student), :size => "48x48" %><br/>
      <% end %>
    </td>
    <td>
      <% Student.in_seat(2, @date).each do |s2| %>
        <%= s2.name %>
        <%= image_tag gravitar_url(student), :size => "48x48" %><br/>  
      <% end %>
    </td>   
    <td>
      <% Student.in_seat(3, @date).each do |s3| %>
        <%= s3.name %>
        <%= image_tag gravitar_url(student), :size => "48x48" %><br/>
      <% end %>  
    </td>
    <td>
      <% Student.in_seat(4, @date).each do |s4| %>
        <%= s4.name %>
        <%= image_tag gravitar_url(student), :size => "48x48" %><br/>
      <% end %> 
    </td>
  </tr>
</table>

<h3>Students Absent Today</h3>
<table>
   <tr>
     <td>
       <% Student.absent(@date).each do |s| %>
         <%= s.name %>
       <% end %>
     </td>
   </tr>
</table>
