<h1>Sign In</h1>
<table>
  <tr>
    <th><%= link_to 'Back to Bueller Home', bueller_index_path %><br/>
        <%= link_to 'Back to CSC Projects Home', welcome_index_path %><p><p/></th>
    <th></th>
    <th></th>
  </tr>
 
  <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </p>
  
    <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
  
<% end %>
</table>